/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #004a68;
}

.side-nav li > a {
  color: #004a68 !important;
}

p {
  color: #004a68;
  line-height: 2rem;
  font-family: 'Open Sans', Sans-Serif;
  font-size: 15px;
}

/* Pink h1
h1 {
  color: #E91E63;
  font-family: 'Raleway', Sans-Serif;
  font-size: 58px;
} */

h1 {
  color: #ffffff;
  font-family: 'Raleway', Sans-Serif;
  font-size: 58px;
}

h2 {
  color: #EF5350;
  font-family: 'Raleway', Sans-Serif;
  font-size: 48px;
}

#my-work-header {
  text-align: center;
}

h5 {
  color: #004a68;
  font-family: 'Open Sans', Sans-Serif;
  font-weight: 600;
}

#img-text-overlay {
  color: #ffffff;
}

.brand-logo {
  color: #E91E63;
  font-family: 'Raleway', Sans-Serif;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

.parallax-container .section {
  width: 100%;
  padding: 200px;
}

#home-bkgd {
  position: absolute;
}

/* .highlight {
  background-image: url('../images/brush-stroke-1.png');
  background-repeat: no-repeat;
  /* background-size: 1050px 502px; */
  /* background-size: 65%; */
  /* background-position: center; */
  /* padding: 300px; */
  /* position: relative; */
/* } */

#logo-container {
  color: #EF5350 !important;
}

#name-header {
  position: relative;
  color: #ffffff;
  font-family: 'Raleway', Sans-Serif;
  font-size: 58px;
  font-weight: 900;
  top: 0;
}

#subheader h5 {
  color: #ffffff;
}

.material-icons {
  color: #EF5350;
}

.front-main {
  padding: 20px;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.teal {
  background-color: #EF5350 !important;
}
